/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* *{
    outline: 1px solid #000;
} */

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", "Roboto", "serif";
}

.wrap {
    max-width: 1920px;
    margin: 0 auto;
}

header {
    background: #AA0601;
    padding: 0 36px;
}

@media (max-width: 991.98px) {
    header {
        padding: 0;
    }
}

header>div {
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 991.98px) {
    header>div {
        max-width: 696px;
    }
}

@media (max-width: 767.98px) {
    header>div {
        display: block;
    }
}

header div > a{
    display: block;
}

@media (max-width: 767.98px) {
    header div > a{
        height: 80px;
        align-content: center;
    }
}

header img {
    width: 80px;
    padding: 15px 0;
}

@media (max-width: 767.98px) {
    header img {
        margin-left: 15px;
    }
}

header ul {
    display: flex;
    justify-content: space-between;
    width: 492px;
}

@media (max-width: 767.98px) {
    header ul {
        flex-wrap: wrap;
        width: 100%;
    }
}

header ul li a {
    display: block;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 30px;
    padding: 25px 0;
}

@media (max-width: 767.98px) {
    header ul li{
        width: 50%;
        height: 48px;
        border: 1px solid #FFFFFF;
        text-align: center;
    }
}

@media (max-width: 767.98px) {
    header ul li a {
        font-size: 16px;
        line-height: 24px;
        padding: 12px 0;
    }
}

.banner {
    max-width: 100%;
    height: 787px;
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
    background-size: cover;
    background-position: center;
    position: relative;

}

@media (max-width: 991.98px) {
    .banner {
        background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
        background-position: center center;
        background-size: cover;
    }
}

@media (max-width: 767.98px) {
    .banner {
        height: 396px;
    }
}

.line1 {
    position: absolute;
    top: 296px;
    right: 16.198%;
    color: #650300;
    font-size: 36px;
    line-height: 54px;
}

@media (max-width: 991.98px) {
    .line1 {
        right: 36px;
    }
}

@media (max-width: 767.98px) {
    .line1 {
        top: 144px;
        right: 14px;
        font-size: 16px;
        line-height: 24px;
    }
}

.line2 {
    position: absolute;
    top: 350px;
    right: 16.25%;
    color: #650300;
    font-size: 64px;
    line-height: 96px;
    font-weight: bold;
}

@media (max-width: 991.98px) {
    .line2 {
        right: 37px;
    }
}

@media (max-width: 767.98px) {
    .line2 {
        top: 168px;
        right: 14px;
        font-size: 24px;
        line-height: 36px;
    }
}

.buy-button {
    position: absolute;
    top: 450px;
    right: 16.25%;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 30px;
    padding: 6px 12px;
    background: #AA0601;
}

@media (max-width: 991.98px) {
    .buy-button {
        right: 37px;
    }
}

@media (max-width: 767.98px) {
    .buy-button {
        top: 212px;
        right: 14px;
    }
}

h2 {
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 767.98px) {
    h2 {
        font-size: 24px;
        line-height: 36px;
    }
}


.section2, .section3, .section4, .section5, .contact{
    padding: 80px 36px;
}

@media (max-width: 767.98px) {
    .section2, .section3, .section4, .section5, .contact{
        padding: 40px 14px 40px 13px;
    }
}   

.section2 {
    background: #FBF2F2;
}


.section2>div {
    max-width: 1296px;
    margin: 0 auto;
}

@media (max-width: 991.98px) {
    .section2>div {
        max-width: 696px;
    }
}

@media (max-width: 767.98px) {
    .section2>div {
        max-width: 348px;
    }
}   

.section2 h2 {
    color: #650300;
    margin-bottom: 24px;
}

.section2 ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
}

@media (max-width: 991.98px) {
    .section2 ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr auto-fit;
        gap: 24px;
        justify-items: center;
    }
}

@media (max-width: 767.98px) {
    .section2 ul {
        grid-template-columns: 1fr;
    }
}   

.section2 li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2 img {
    width: 100px;
    margin-bottom: 16px;
}

.feature {
    font-size: 24px;
    line-height: 36px;
    color: #650300;
    font-weight: bold;
    margin-bottom: 8px;
}

.section2 .description {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
}

.section3 {
    background: #FFFFFF;
}

.section3 h2 {
    color: #650300;
    margin-bottom: 48px;
}

@media (max-width: 767.98px) {
    .section3 h2 {
        margin-bottom: 24px;
    }
}   

.section3>div {
    max-width: 1296px;
    margin: 0 auto;
}

@media (max-width: 991.98px) {
    .section3>div {
        max-width: 336px;
    }
}

@media (max-width: 767.98px) {
    .section3>div {
        max-width: 348px;
    }
}  

.section3 ul {
    display: flex;
    justify-content: space-between;
    gap: 24px
        /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px; */
}

@media (max-width:991.98px) {
    .section3 ul {
        flex-wrap: wrap;
    }
}

.section3 li {
    max-width: 416px;
}

@media (max-width:991.98px) {
    .section3 li {
        max-width: 100%;
    }
}

.section3 img {
    max-width: 100%;
    margin-bottom: 8px;
}

@media (max-width:991.98px) {
    .section3 img {
        max-width: 336px;
    }
}

@media (max-width: 767.98px) {
    .section3 img {
        max-width: 348px;
    }
} 

.section3 li p {
    color: #AA0601;
    /* font-size: 2.5vw; */
    font-size: 48px;
    line-height: 72px;
    font-family: "Roboto", "Serif";
    font-style: italic;
    font-weight: 900;
    text-align: center;
}

@media (max-width:991.98px) {
    .section3 li p {
        font-size: 48px;
    }
}

.section4 {
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
    background-size: cover;
    background-position: center;
}

@media (max-width:991.98px) {
    .section4 {
        background: url(/img/nick-owuor-astro-nic-portraits-54Q_HvMWtVE-unsplash.jpg);
        background-size: cover;
        background-position: center;
    }
}

.section4>div {
    max-width: 1296px;
    margin: 0 auto;
}

@media (max-width:991.98px) {
    .section4>div {
        max-width: 696px;
    }
}

@media (max-width: 767.98px) {
    .section4>div {
        max-width: 348px;
    }
} 

.section4 h2 {
    color: #FFFFFF;
    margin-bottom: 48px;
}

@media (max-width: 767.98px) {
    .section4 h2 {
        margin-bottom: 24px;
    }
}

.section4 ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width:991.98px) {
    .section4 ul {
        row-gap: 24px;
    }
}

.section4 li {
    width: 50%;
}

@media (max-width:991.98px) {
    .section4 li {
        width: 100%;
    }
}

.section4 .picture1 {
    height: 240px;
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true);
    background-size: cover;
    background-position: center;
}

@media (max-width: 767.98px) {
    .section4 .picture1 {
        background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1-sm.png?raw=true);
        background-size: cover;
        background-position: center;
    }
}

.section4 .picture2 {
    height: 240px;
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true);
    background-size: cover;
    background-position: center;
}

@media (max-width: 767.98px) {
    .section4 .picture2 {
        background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2-sm.png?raw=true);
        background-size: cover;
        background-position: center;
    }
}

.section4 li p {
    width: 100%;
    color: #AA0601;
    font-family: "Roboto", "Serif";
    background: #FFFFFF;
    font-size: 48px;
    line-height: 72px;
    font-style: italic;
    font-weight: 900;
    text-align: center;
    padding: 8px 0;
}

.section5 {
    background: #FFFFFF;
}

.section5>div {
    max-width: 1296px;
    margin: 0 auto;
}

@media (max-width:991.98px) {
    .section5>div {
        max-width: 696px;
    }
}

@media (max-width: 767.98px) {
    .section5>div {
        max-width: 348px;
    }
}

.section5 h2 {
    color: #650300;
    margin-bottom: 48px;
}

@media (max-width: 767.98px) {
    .section5 h2 {
        margin-bottom: 24px;
    }
}

.section5 ul {
    border-radius: 66px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

@media (max-width:991.98px) {
    .section5 ul {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }
}

@media (max-width: 767.98px) {
    .section5 ul {
        grid-template-columns: 1fr;
        gap: 16px;
    }
}

.section5 ul li {
    border-radius: 4px;
}

@media (max-width:991.98px) {
    .section5 ul li {
        border-radius: 4px;
    }
}

@media (max-width:991.98px) {
    .section5 li div {
        max-width: 336px;
        max-height: 306px;
    }
}


.section5 img {
    display: block;
    object-fit:cover;
    object-position: center center;
}

@media (max-width:991.98px) {
    .section5 img {
        width: 336px;
        max-height: 306px;
        border-radius: 4px 4px 0 0;
    }
}

.comment-content {
    height: 205px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 6px #00000029;
    border-radius: 0 0 4px 4px;
}

.name {
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.comment {
    color: #000000;
    font-size: 16px;
    line-height: 24px;
}

.contact {
    background: #FBF2F2;
}

.contact>div {
    margin: 0 auto;
    width: 636px;
}

@media (max-width:991.98px) {
    .contact>div {
        max-width: 576px;
    }
}

.contact h2 {
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    text-align: center;
    color: #650300;
    margin-bottom: 48px;
}

@media (max-width:991.98px) {
    .contact h2 {
        margin-bottom: 24px;
    }
}

.contact .description {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 24px;
}

@media (max-width:991.98px) {
    .contact .description {
        font-size: 16px;
        line-height: 24px;
    }
}

label {
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 8px;
}

textarea,
input {
    width: 636px;
    height: 36px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #000000;
    padding: 6px 0 6px 12px;
    margin-bottom: 16px;
    background: #FBF2F2;
    outline-color: #AA0601;
    caret-color: #AA0601;
}

input[name="phonenumber"], input[name="email"] {
    height: 33px;
}


@media (max-width:991.98px) {

    textarea,
    input {
        max-width: 576px;
    }
}

::placeholder {
    color: rgba(00, 00, 00, 0.2);
}

textarea {
    height: 136px;
    resize: none;
}

input[name="checkbox"] {
    display: inline;
    width: 20px;
    height: 20px;
    margin: 0;
    margin-bottom: 0;
    /* -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none; */
    border-radius: 5px;
    /* border: 2px solid #000000; */
}


/* input[type=checkbox]:hover {
    background-color: #000000;
} */

input[type=checkbox]:visited {
    color: red;
}

/* input[type=checkbox]:checked:after{
    background-color: blue;
} */

label[for="checkbox"] {
    display: inline;
    vertical-align:top;
    margin-left: 4px;
    margin-bottom: 0;
}

.contact a {
    width: 416px;
    margin: 48px auto 0;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    display: block;
    padding: 16px 0;
    background: #AA0601;
    text-align: center;
}

@media (max-width:991.98px) {

    .contact a {
        max-width: 336px;
    }
}

.contact a:hover {
    background: #650300;
}

footer {
    background: #AA0601;
    padding: 48px 36px 32px;
}

@media (max-width:991.98px) {
    footer {
        padding-bottom: 40px;
    }
}

footer>div {
    max-width: 1296px;
    margin: 0 auto;
}

@media (max-width:991.98px) {
    footer>div {
        max-width: 696px;
    }
}    

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.navbar {
    width: 484px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:991.98px) {
    .navbar {
        width: 464px;
    }
}   

.navbar a {
    display: block;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
}

.sns-menu {
    width: 208px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:991.98px) {
    .sns-menu {
        width: 152px;
    }
}   

.sns-menu li {
    width: 48px;
    height: 48px;
}

@media (max-width:991.98px) {

    .sns-menu li {
        width: 40px;
        height: 40px;
    }
}

.phone,
.mail {
    display: flex;
    align-items: center;
    gap:16px;
}

.material-symbols-outlined {
    color: #FFFFFF;
    font-size: 48px !important;
}

.phone :nth-last-of-type(1), .mail :nth-last-child(1){
    display: block;
    color: #FFFFFF;
    font-size: 36px;
    line-height: 54px;
}

hr {
    margin: 32px 0;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.bottom p {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: "Roboto", "Serif";
}

.bottom ul {
    width: 174px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom ul li a {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 21px;
}