/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* *{
    outline: 1px solid #000;
} */

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

*, *::before, *::after{
    box-sizing: border-box;
}

.wrap{
    max-width: 1920px;
    margin: 0 auto;
    font-family: "roboto", "Noto Sans TC", "serif";
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #AA0601;
    padding: 0 16.25%;
}

@media (max-width: 768px){
    header{
        padding: 0 36px;
    }
}

header img{
    width: 80px;
}

header ul{
    display: flex;
    justify-content: space-between;
    width: 492px;
}

header ul li a{
    display: block;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.banner{
    max-width: 100%;
    height: 787px;
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true) ;
    background-size:cover;
    background-position: center;
    position: relative;
}

@media (max-width: 768px){
    .banner{
        background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
    }
   
}

.line1{
    position: absolute;
    top: 296px;
    right: 16.198%;
    color: #650300;
    font-size: 36px;
    line-height: 54px;
}

@media (max-width: 768px){
    .line1{
        right: 36px;
    }
}

.line2{
    position: absolute;
    top: 360px;
    right: 16.25%;
    color: #650300;
    font-size: 64px;
    line-height: 96px;
}

@media (max-width: 768px){
    .line2{
        right: 37px;
    }
}

.buy-button{
    position: absolute;
    top: 450px;
    right: 16.25%;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 30px;
    padding: 6px 12px;
    background: #AA0601;
}

@media (max-width: 768px){
    .buy-button{
        right: 37px;
    }
}

h2{
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    text-align: center;
}

.section2{
    background: #FBF2F2;
    padding: 80px 40px;
}

@media (max-width:768px){
    .section2{
        padding: 80px 36px;
    }
}

.section2 > div{
    max-width: 1296px;
    margin: 0 auto;
}

.section2  h2{
    color: #650300;
    margin-bottom: 24px;
}

.section2  ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section2 img{
    width: 100px;
    margin-bottom: 16px;
}

.section2 li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23.6111%
}

.feature{
    font-size: 24px;
    line-height: 36px;
    color: #650300;
    font-weight: bold;
    margin-bottom: 8px;
}

.section2 .description{
    font-size: 16px;
    line-height: 24px;
    width: 100%;
}

.section3{
    background: #FFFFFF;
    padding: 80px 40px;
}

@media (max-width:768px){
    .section3{
        padding: 80px 216px;
    }
}

.section3  h2{
    color: #650300;
    margin-bottom: 48px;
}

.section3 > div{
    max-width: 1296px;
    margin: 0 auto;
}

.section3 ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.section3 li{
    width: 32.0987%;
}

.section3 img{
    width: 100%;
    margin-bottom: 8px;
}

@media (max-width:768px){
    .section3 img{
        width: 336px;
    }
}


.section3 li p{
    color: #AA0601;
    font-size: 2.5vw;
    line-height: 72px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.section4{
    background:url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
    background-size:cover;
    background-position: center;
    padding: 80px 40px;

}

.section4 li{
    width: 50%;
}

.section4 > div{
    max-width: 1296px;
    margin: 0 auto;
}

@media (max-width:768px){
    .section4{
        padding: 80px 36px;
    }
}

.section4 h2{
    color: #FFFFFF;
    margin-bottom: 48px;
}

.section4 ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.section4 .picture1{
    max-width: 100%;
    height: 240px;
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true);
    background-size:cover;
    background-position: center;

}

.section4 .picture2{
    max-width: 100%;
    height: 240px;
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true);
    background-size: cover;
    background-position: center;
}


.section4 li p{
    width: 100%;
    color: #AA0601;
    background: #FFFFFF;
    font-size: 48px;
    line-height: 72px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding: 8px 0;
}

@media (max-width:768px){
    .section4 p{
        margin-bottom: 24px;
    }
}

.section5{
    background: #FFFFFF;
    padding: 0 40px;
}

.section5 > div{
    max-width: 1296px;
    margin: 80px auto;
}

.section5  h2{
    color: #650300;
    margin-bottom: 48px;
}

.section5 ul{
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
}

.section5 li{
    max-width: 25%;
}

.section5 img{
    width:100%;
    height: auto;
}

.comment-content{
    max-width: 306px;
    height: 205px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 6px #00000029;
}

.section5 img{
max-width: 306px;
}

.name{
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.comment{
    color: #000000;
    font-size: 16px;
    line-height: 24px;
}

.buttom p{
    color: #707070;
    font-size: 14px;
    line-height: 21px;
}

.contact{
    background: #FBF2F2;
    padding: 80px 0;
}

.contact > div{
    margin: 0 auto;
    width: 636px
}

.contact h2{
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    text-align: center;
    color: #650300;
    margin-bottom: 48px;
}

.contact .description{
    width: 636px;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 24px;
}

.question, label{
    display: block;
    font-size: 16px;
    line-height: 24px;
    color:#000000;
    margin-bottom: 8px;
}

.answer, textarea, input{
    width: 636px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #000000;
    padding: 6px 0 6px 12px;
    margin-bottom: 16px;
    background: #FBF2F2;
}

::placeholder{
    color: rgba(00, 00, 00, 0.2);
}

.long{
    height: 136px;
}

textarea{
    height: 136px;
    resize: none;
}

input[name="checkbox"]{
    display: inline;
    width: 24px;
    height: 24px;
    margin:0;
}

label[for="checkbox"]{
    display: inline;
    vertical-align:super;
    margin-left: 4px;
}

.contact a{
    width: 416px;
    margin: 48px auto 0;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    display: block;
    padding: 16px 176px;
    background: #AA0601;
    text-align: center;
}

.contact a:hover{
    background: #650300;
}

footer{
    background: #AA0601;
    padding: 0 40px;
}

footer > div{
    max-width: 1296px;
    margin: 0 auto;
    padding: 48px 0 32px 0;
}

.top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}

.navbar{
    width: 484px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sns-menu{
    width: 208px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.sns-menu li{
    width: 48px;
    height: 48px;
}

.navbar a{
    display: block;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
}

.top div{
    width: 208px; 
    display: flex;
    justify-content: space-between;
}

.center img{
    width: 48px;
}


.center p{
    display: inline-block;
    color: #FFFFFF;
    font-size: 36px;
    line-height: 54px;
    vertical-align: top;
    margin-left: 16px;
    font-family: "Source Han Sans TW", "serif";
}

hr{
    margin: 32px 0;
}

.bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom p{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.bottom ul{
    width: 174px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom ul li a{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 21px;
}

.material-symbols-outlined {
    color: #FFFFFF;
    font-size: 36px !important;
    padding: 6px;
}

.phone, .mail{
    display: flex;
    align-items: center;
}